<form (ngSubmit)="submitForm()">
    <label for="name">İsim:</label>
    <input id="name" type="text" [(ngModel)]="contactForm.name" name="name" required>
  
    <label for="email">E-posta:</label>
    <input id="email" type="email" [(ngModel)]="contactForm.email" name="email" required>
  
    <label for="phoneNumber">Telefon Numarası:</label>
    <input id="phoneNumber" type="text" [(ngModel)]="contactForm.phoneNumber" name="phoneNumber">
  
    <label for="subject">Konu:</label>
    <input id="subject" type="text" [(ngModel)]="contactForm.subject" name="subject" required>
  
    <label for="message">Mesaj:</label>
    <textarea id="message" [(ngModel)]="contactForm.message" name="message" required></textarea>
  
    <button type="submit">Gönder</button>
  </form>